* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(8, 2, 13, 1);
    color: rgba(223, 215, 228, 1);
    padding: 0 2rem;
    
}


/* Nav-bar */
nav {
    width: 65%;
    padding: 1rem 0;
    background-color: rgba(208, 143, 255, 0.2);
    box-shadow: 0px 0.25rem 1.5rem rgba(0, 0, 0, 0.16);
    border-radius: 1em;
    margin: auto;
    margin-top: 2rem;
}

.nav-container {
    width: 90%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.nav-container li a{
    text-decoration: none;
    color: rgba(223, 215, 228, 1);
    position: relative;
    top: 0.2em;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.nav-logo {
    font-size: 2rem;
    margin: 0 auto;
    position: relative;
    right: 3%;
}

.nav-left {
    display: flex;
    gap: 1.25rem;
}

header nav .nav-container li a:hover{
    border-bottom: 3px solid rgb(137, 76, 175);
}


/* Main section */

main {
    width: 100%;
    margin: 2rem auto;
}

.main-hero {
    width: 100%;
    padding: 6rem 0;
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
    margin: 1rem auto;
}

.main-hero p{
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 7.5rem;
    text-align: center;
    animation: font-change 5s ease-in;
    /* transition: all 2s ease-in; */
}

/* .main-hero p:hover{
    text-decoration: underline rgb(181, 148, 189);
} */
.hero img {
    width: 100%;
    height: auto;
    border-radius: 1.75rem;
}

.main-page {
    width: 100%;
    padding: 3.25rem 0;
    display: flex;
    gap: 3.25rem;
    margin: 1rem auto;
}

.main-page > div {
    display: flex;
    flex-direction: column;
    gap: 3.25rem;
}

.page div {
    width: 100%;
}

.page div p {
    font-weight: 400;
    line-height: 1.5rem;
    font-size: 1.25rem;
}

.diff-color {
    font-size: 1rem;
    color: rgba(224, 209, 235, 0.62);
}

.project1, .project5, .project9 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.project1 img, .project5 img, .project9 img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.project2, .project6, .project7 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.project2 img, .project6 img, .project7 img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.project3 img, .project4 img, .project8 img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border-top: 0.1rem solid transparent;
}

.hero-footer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('Images/hero-footer.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.25rem;
    margin: 1rem auto;
}

.hero-footer p {
    font-weight: 700;
    font-size: 2.125rem;
    line-height: 2.5rem;
    text-align: center;
}

.hero-footer form {
    width: 100%;
    max-width: 37.5rem;
    height: auto;
    display: flex;
    gap: 0.75rem;
}

.main-email {
    width: 100%;
    border-radius: 1rem;
    border: 1.5px solid rgba(0, 0, 0, 1);
    padding: 0.625rem 1.25rem;
    display: flex;
    gap: 0.5rem;
    border: none;
}

.main-email::placeholder {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: rgba(35, 20, 46, 0.4);
}

.main-button {
    width: auto;
    height: auto;
    border-radius: 1rem;
    padding: 0.875rem 2rem;
    background-color: rgba(75, 0, 130, 1);
    color: rgba(253, 250, 255, 1);
    border: none;
}

footer {
    width: 100%;
    height: auto;
    border-top: 1.5px solid transparent;
    padding-top: 6rem;
    padding-bottom: 2rem;
    display: flex;
    gap: 2rem;
    margin: 1rem auto;
}

.footer-main {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-main > p {
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 2rem;
    color: rgba(224, 209, 235, 0.62);
}

.footer-button {
    width: auto;
    height: auto;
    border-radius: 1rem;
    border: 1.5px solid rgba(166, 145, 182, 0.2);
    padding: 0.875rem 2rem;
    background-color: transparent;
    color: rgba(223, 215, 228, 1);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
